<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script> 
	 <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css>
	 <script src="/js/datatable.js"></script> 
	
</head>

<body>

<div class="container">
	<h1 style="text-align: center;">Employees Table</h1>
	
	<!-- <div class="category-filter" style="width: 100%">
			<select id="categoryFilter" class="form-control">
				<option value="">Show All</option>
				<option value="Classical">Classical</option>
				<option value="Hip Hop">Hip Hop</option>
				<option value="Jazz">Jazz</option>
			</select>
		</div>
	
	 -->
	 <div th:if="${Msg}" th:utext="${Msg}"
			class="alert alert-success text-center"></div>
	 
	<br>
	
	<table id="employeesTable" class="table"  style="width: 100%" border="0">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>Id</th>
				<th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width: 1%" colspan="2">Actions</th>
                <th style="width: 1%"></th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
          <!--   <tr>
                <th>Id</th>
				<th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
            </tr> -->
        </tfoot>
    </table>
    </div>
    
  
</body>
</html>
